<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Add To My Wish List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AddToMyWishList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MyWishList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyWishListCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8552B7B01C53D46F0022D41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8552B7C71C53D46F0022D41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8552B7D21C53D46F0022D41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>856997281C8BAC09003642AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>858149F31C8B7C9800440703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85814A061C8B7E2B00440703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85814A181C8B846000440703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85814A2A1C8B860C00440703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85814A3C1C8B883B00440703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
